  <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.12/p5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.13/addons/p5.sound.js"></script>
  <script language="javascript" type="text/javascript" src="sketch.js"></script>
  
<div class="home">

  <div class="screen">
  </div>

  <div class="record-button">
  </div>

  <div class="record-button--caption">
    <p><strong>TAP GREEN BUTTON TO RECORD</strong></p>
  </div>


</div>
