<div class="home">

  <div class="screen">
  </div>

  <div class="record-button">
  </div>

  <div class="record-button--caption">
    <p><strong>TAP GREEN BUTTON TO RECORD</strong></p>
  </div>


</div>
