.nav {
  background-color: #a5d395;
  height: 60px;

  .logo {
    float: left; 
    height: 30px;
    margin: 15px;
    float: left;
    display: inline-block;
  }

  .hamburger {
    display: inline-block;
    float: right;
    margin: 10px;
    .hamburger-bar {
      background-color: white;
      height: 5px;
      width: 30px;
      margin: 5px;
      border-radius: 10px;
    }
  }

}
