.home {

  .screen {
    height: 280px;
    margin: 40px 20px;
    border-radius: 10px;
    background-color: #4d4d4d;
    box-shadow: inset 0 0 1em black;
    .caption {
      z-index: 200;
      position: relative;
      padding: 30px 20px;
      color: #fff;
    }
    .caption-dark { color: #000; }
  }

  .record-button, .stop-record {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background-color: #a5d395;
    border: 6px solid white;
    margin-bottom: 10px;
  }

  .record-button { background-color: #a5d395; }
  .stop-record { background-color: #fbb03b; }

  .record-button:active {
    background-color: #94c284;
  }

  #defaultCanvas {
    position: absolute !important;
    z-index: 100;
    top: 130px !important;
    left: 30px;
  }

  .question {
    position: relative;
  }


}
