<div class="nav">
  <%= image_tag 'logo-white.png', class: 'logo' %>

  <div class="hamburger">
    <div class="hamburger-bar">
    </div>
    <div class="hamburger-bar">
    </div>
    <div class="hamburger-bar">
    </div>
  </div>
</div>
